.BGIMG01
  background-image: url("../assets/curso/intro/img01.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bloque-texto-d.color-secundario:before 
  background-color: #D8E5E0

.BG01
  background: linear-gradient(to right,#B0DCD6, #fff)

.BG02
  background: linear-gradient(to  top,#ADDBD5, #fff)
  border-radius: 25px

.BG03
  background: linear-gradient(to  bottom,#EEEEEE, #B0B0B0)
  border-radius: 25px

.BG04
  background-color: #000

.BG05
  background: linear-gradient(to right, #E8EBD7, #fff)

.BG06
  background-color: #fff

.BG07
  background-color: #6BBCB1


.buttom.color-primario
  background-color: #fff
  border-radius: 5px

.buttom.color-primario:hover, .buttom.color-primario:focus, .tabla-a.color-primario thead
  background-color: #ADDBD5
  p
    background-color: #fff